<!doctype html>
<html lang="en">
<head>
    {%  load staticfiles %}
    {% block head %}
    {% include 'head.html' %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="sidebar">
        {% block sidebar %}
        {% include 'sidebar.html' %}
        {% endblock %}
    </div>

    <footer class="text-muted">
        {% block footer %}

        {% include 'footer.html' %}

        {% endblock %}
    </footer>
    
    {% block javascript %}
    {% include 'javascripts.html' %}
    {% endblock %}

</body>
</html>
