{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'letter-f.png' %}" alt="" height=30 width=30 class="d-inline-block align-top mt-2">
            <p class="d-inline-block align-top mt-1 ml-1">FALAB</p>
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/open-iconic-master/svg/plus.svg" height=30 width=30>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item text-highlight">Add Books</a>
                        <!-- <a href="#" class="dropdown-item disabled text-highlight">Not Exist</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                    <form action="{% url 'logout' %}" id="logout" method=POST>
                        {% csrf_token %}
                        <input type="hidden" />
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
